fastapi
uvicorn[standard]
python-multipart
google-generativeai
pydantic-settings
httpx
psycopg2-binary
sqlalchemy
pandas
openpyxl
llama-index
llama-index-vector-stores-postgres
llama-index-embeddings-gemini
llama-index-llms-gemini
asyncpg
pgvector
cloudinary
pytest
pytest-asyncio